/*-- scss:defaults --*/

// Import Google Fonts 
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

// Fonts 
$josephin-sans: "Josefin Sans", serif;

// Colors 
$dark-green: #757B6D;
$medium-green: #98A08D;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$terracotta: #BD6E53; 
$violet: #846075;
$dark-gray: #5A5856;
$medium-gray: #64605f;

// Define Quarto Sass variables 
$navbar-bg: $cream;
$navbar-fg: $dark-green;
$navbar-hl: $violet;
$body-bg: $light-green;
$body-color: $dark-gray;
$footer-bg: $cream;
$link-color: $violet;

/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
  font-family: $josephin-sans;
}

h1, h2 {
  letter-spacing: 5px;
  font-weight: 800;
}

.title {
  color: maroon;
}

.quarto-title-banner h1 {
  color: maroon;
}

.center-text {
  text-align: center;
}

.orange-text {
  color: $terracotta;
}

.navbar-brand img {
  max-height: 40px;
  width: auto;
}

.card {
  background-color: $cream;
  //border-radius: 5.25em;
}

.card-body {
  color: maroon;
}

